@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.widgetHolderWrapper {
	padding: 8px;
	flex: 1;
	overflow: auto;
	.widgetHolder {
		display: flex;
		align-items: center;
		gap: 16px;
		flex-wrap: wrap;

		position: relative;

		.widget {
			flex: 1;
			max-width: 350px;
		}
		.fixedSizeWidget {
			flex: 0;
		}
	}
}
