@import "/src/styles/variables.scss";

.notes {
	resize: none;
	height: 100%;
	padding: 16px;
	background-color: $modalTextColor;
	border-radius: $widgetBorderRadiusOnHover;
	border: none;
	&::placeholder {
		color: rgba(#000, 0.7);
	}
}
