@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.clock {
	@include font-poppins;

	color: $primaryColor;

	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #3f3f3f;
	font-size: 96px;
	font-weight: 800;
	width: 350px;

	.meridiem {
		@include font-inter;

		-webkit-text-stroke: 0;
		font-style: bold;
		font-size: 32px;
	}
}
