@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.clock {
	@include font-poppins;

	color: $clockColor;

	font-size: 96px;
	font-weight: 800;
	width: 350px;

	.meridiem {
		@include font-inter;

		font-style: bold;
		font-size: 32px;
	}
}
