@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.clock {
	@include font-poppins;

	color: $clockColor;

	font-size: 64px;
	font-weight: 400;
	width: min-content;

	padding-inline: 64px;
	border-radius: 64px;

	background-color: $secondaryColor;

	.meridiem {
		@include font-inter;

		margin-left: 4px;

		font-weight: 800;
		font-size: 16px;
	}
}
