@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.topBar {
	@include font-poppins;
	width: 100%;
	padding-bottom: 16px;
	border-bottom: 4px solid rgba($primaryColor, 0.05);
}
