/* Global Scrollbar Styling */
body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #9c9487;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
  