// Colors
$appBackground: #181818;
$backdrop: rgba(0, 0, 0, 0.5);

$primaryColor: #9c988d;
$secondaryColor: #1e1e1e;

$appFooterTextColor: $primaryColor;
$clockColor: $secondaryColor;
$clockTextColor: $primaryColor;
$selectionColor: $primaryColor;

// Modal Colors
$modalBackgroundColor: $secondaryColor;
$modalHeaderColor: $primaryColor;
$modalTextColor: $primaryColor;

$modalButtonColor: $primaryColor;
$modalButtonTextColor: $appBackground;

// Widget Defaults
$widgetBackground: $secondaryColor;
$widgetTextColor: $primaryColor;
$widgetImageHolderColor: $appBackground;
$widgetBorderRadius: 32px;
$widgetBorderRadiusOnHover: 12px;
$widgetHeight: 52px;

$addNewWidgetButtonColor: $secondaryColor;
$addNewWidgetButtonIconColor: $primaryColor;
