@import "/src/styles/variables.scss";
.addNewWidget {
	margin-left: 8px;
	padding: 16px 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	height: $widgetHeight;
	border-radius: 50%;
	border: 1px solid $widgetBorderColor;
	background-color: $widgetBackground;

	&:hover {
		border-radius: $widgetBorderRadiusOnHover;
	}

	cursor: pointer;
	.icon {
		color: $widgetTextColor;
		font-size: 24px;
	}
}
