@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.notepadWidget {
	padding: 16px 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $widgetBackground;
	aspect-ratio: 1/1;
	height: $widgetHeight;

	border-radius: 50%;
	border: 1px solid $widgetBorderColor;

	&:hover {
		border-radius: $widgetBorderRadiusOnHover;
	}

	cursor: pointer;
	.icon {
		color: $widgetTextColor;
		font-size: 24px;
	}
}
