@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.searchForm {
	display: flex;
	flex-direction: column;
	gap: 6px;
	color: $primaryColor;

	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		display: none;
	}
	.searchBox {
		position: relative;
		display: inline-flex;
		align-items: center;
		input {
			@include font-poppins;

			width: 600px;
			height: 50px;

			font-size: 18px;
			background: none;
			color: $primaryColor;

			border: 1px solid rgba($primaryColor, 0.5);
			border-radius: 64px;

			padding-left: 50px;
			outline: none;
		}
		label {
			position: absolute;
			left: 20px;
			font-size: 20px;
		}
	}

	span {
		color: rgba($primaryColor, 0.5);
		text-align: end;
		padding-right: 8px;
	}
}
