@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 24px;
	p,
	a {
		font-size: 14px;
		font-weight: 600;
		color: $appFooterTextColor;
		text-decoration: none;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}

	.github {
		font-size: 20px;
		font-weight: 800;
		margin-left: 2px;
		.icon {
			margin-right: 4px;
		}
	}
}
