@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 24px;
	p,
	a {
		font-weight: 900;
		color: $primaryColor;
		text-decoration: none;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

.stick {
	font-size: 16px;
}

.github {
	font-size: 23px;
	margin-left: 2px;
}

.icon {
	font-size: 24px;
	margin-right: 4px;
}
