@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.overlay {
	background-color: $backdrop;

	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;

	display: grid;
	place-items: center;
	// Added to keep the Modal From above the Bookmark
	z-index: 1;
	.modal {
		width: 400px;

		background-color: $modalBackgroundColor;
		border-radius: 24px;
		padding: 32px;

		display: flex;
		flex-direction: column;
		.header {
			@include font-poppins;
			font-size: 24px;
			color: $modalHeaderColor;
			padding-bottom: 16px;
			margin-bottom: 16px;
			border-bottom: 2px solid $modalHeaderColor;
		}
	}
}
