@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.bookmarkWidget {
	@include font-inter;
	position: relative;
	color: $widgetTextColor;
	padding: 0 20px;
	height: $widgetHeight;
	width: 100%;

	border-radius: $widgetBorderRadius;
	background-color: $widgetBackground;

	display: flex;
	align-items: center;
	gap: 10px;

	cursor: pointer;
	.faviconHolder {
		border-radius: 50%;
		overflow: hidden;
		display: grid;
		place-items: center;
		background-color: $widgetImageHolderColor;
		.favicon {
			--size: 52px;
			padding: 12px;
			width: var(--size);
			height: var(--size);
			filter: contrast(1.1);
		}
	}

	.nameWrapper {
		flex: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-size: 22px;
		font-weight: 600;
	}

	.button {
		$size: 26px;

		position: absolute;
		padding: 5px;
		height: $size;
		width: $size;

		border-radius: 100%;
		background: $primaryColor;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.deleteButton {
		top: -8px;
		right: -8px;
	}
	.editButton {
		bottom: -8px;
		right: -8px;
	}
}
