.app {
	height: 100%;
	display: flex;
	gap: 16px;
	padding: 16px;
	padding-bottom: 0px;
	flex-direction: column;

	* {
		transition: border-radius 0.2s ease;
	}
}

.header {
	display: flex;
	align-items: center;
	gap: 3rem;
}
